body{
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}